<ion-view view-title="Ofertas">
  <ion-content>
    <center><h4>{{compra}}</h4></center>

    <div class="list card" ng-repeat="oferta in ofertas">

	  <div class="item item-avatar">
	    <img src="{{oferta.imgEmpresa}}">
	    <h2>{{oferta.loja}}</h2>
	    <p>{{oferta.dataComp}}</p>
	  </div>

	  <div class="item item-body">
	    <center><img class="full-image" src="{{oferta.imgProd}}"></center>
	    <p>{{oferta.descProd}}</p>
	    <p>{{oferta.preco}}</p>
	    <p>{{oferta.parcelas}}</p>
	    <p>
	      <button class="button button-block button-positive" ng-click="mapa()"><i class="icon ion-location"></i>&nbsp;Localização</button>
	    </p>
	  </div>
	</div>
  </ion-content>
</ion-view>
