/* Empty. Add your own CSS if you like */
.bar.bar-stable { background: #3F51B5 !important; }

.bar-header { background: #3F51B5 !important; }

.bar.bar-stable .title { color: white !important; left: 0px !important; right: 0px !important; text-align: center !important; }

.bar-stable .button.button-clear {color: white !important; }

.statusAcoes { margin: 30px 0px 5px 0px; float: right; }

.titleLocais { font-weight: 500 !important; }

.titlePerfil { margin-top: 9px !important; line-height: 1.3 !important; }

.titleLogin { margin-top: 35px; }

.platform-android .bar .title { color: white; font-weight: normal; }

.button-clear.button-clear { color: white !important; }

.ion-compose:before { color: #BDBDBD; }

.alinhaLogin { margin: 44px 0px 0px 0px; padding: 10px; background: #F5F5F5; height: 100%; }

.box1, box2, box3 { height: 300px; border: 2px solid blue; }

.full-image { width: 50% !important; }

#floating-button>li { background-color: #3F51B5 !important; }

.ion-plus:before { color: white !important; }

.ion-edit:before { color: white !important; }

.ion-chatboxes:before { color: #3F51B5 !important; }

.ion-ios-camera:before { color: #BDBDBD !important; }

.ion-image:before { color: #BDBDBD !important; }

.ion-android-arrow-dropright:before { color: #BDBDBD !important; }

.ion-ios-checkmark:before { color: #2E7D32 !important; }

.ion-ios-information:before { color: #FF9800 !important; }

.ion-ios-close:before { color: #F44336 !important; } 

.dataItens { float: right !important; font-size: 11px !important; }

.item .badge { top: 37px !important; }

.badge { padding: 0px 5px !important; }

.alignButtonChat { float: right !important; }

.itemSemBorda { border-width: 0px !important; }

.semImagem { width: 34px; height: 34px; margin: 0px 0px 0px -40px; }

#aberta{ color: #2E7D32 !important; }

#atendimento { color: #FF9800 !important; }

#fechada { color: #F44336 !important; }
